body{
margin:0;
font-family:Arial;
background:#0f172a;
color:#e5e7eb;
}

.hero{
background:#1e3a8a;
padding:60px;
text-align:center;
color:white;
}

.card{
background:#111827;
margin:20px auto;
padding:25px;
border-radius:12px;
max-width:800px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

h2{
color:#60a5fa;
}

a{
color:#93c5fd;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}
